parameters:
    level: 6
    paths:
        - src
    checkGenericClassInNonGenericObjectType: true
    checkMissingIterableValueType: true
    bootstrapFiles:
        - src/Command/DiffCommand.php # contains class alias
